<mat-horizontal-stepper [formGroup]="createAccountForm" *ngIf="!accountCreated">
  <mat-step label="User">
    <div class="formStep">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="joe@blogs.co.uk">
        <mat-error *ngIf="email.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('emailExists')">
          Email already in use
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput type="text" formControlName="userName" placeholder="JoeBlogs">
        <mat-error *ngIf="username.hasError('usernameExists')">
          Username already in use
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password123">
        <mat-error>
          Password must have 8+ characters, 1+ uppercase letter, lowercase letter, number and special character
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Re-type Password</mat-label>
        <input matInput type="password" formControlName="passwordConfirm" placeholder="Password123">
        <mat-error>
          Passwords dont match
        </mat-error>
      </mat-form-field>

      <div class="d-flex ml-auto">
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Personal">
    <div class="formStep">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName" placeholder="Joe">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Blogs">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field appearance="outline" class="mr-1">
          <!--          <mat-label>Phone number</mat-label>-->
          <mat-select formControlName="phoneCode">
            <mat-option value="+44">+44</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone number</mat-label>
          <input matInput type="tel" formControlName="phoneNumber">
          <mat-error *ngIf="phoneNumber.hasError('phoneExists')">
            Phone number already in use
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dOB" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="d-flex ml-auto">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Avatar">
    <div class="formStep">
      <div style="width: fit-content">
        <div class="position-relative m-3">
          <img class="avatarPreview" *ngIf="avatar" [src]="avatar" alt="user's avatar">
          <button mat-mini-fab type="button" id="avatarUploadButton" (click)="avatarUpload()" aria-label="upload avatar">
            <mat-icon>upload</mat-icon>
          </button>
        </div>
      </div>

      <div class="d-flex ml-auto">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Confirm">
    <div class="formStep">

      <img class="avatarPreview mb-3" *ngIf="avatar" [src]="avatar" alt="user's avatar">

      <div class="d-flex justify-content-between">
        <div>Email:</div>
        <div>{{createAccountForm.controls.email.value}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between">
        <div>Firstname:</div>
        <div>{{createAccountForm.controls.firstName.value}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between">
        <div>Lastname:</div>
        <div>{{createAccountForm.controls.lastName.value}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between">
        <div>Username:</div>
        <div>{{createAccountForm.controls.userName.value}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between">
        <div>Phonenumber:</div>
        <div>{{createAccountForm.controls.phoneNumber.value}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between">
        <div>Date of birth:</div>
        <div>{{createAccountForm.controls.dOB.value | date:'longDate'}}</div>
      </div>
      <mat-divider></mat-divider>

      <div class="mat-caption my-2">By signing up, you agree to our <a href="">Terms</a>, <a href="">Privacy Policy</a>, <a href="">Cookie Use Policy</a> and the <a href="https://stripe.com/gb/connect-account/legal">Stripe Connected Account Agreement</a>.</div>

      <div class="d-flex justify-content-end">
        <button [disabled]="createAccountForm.invalid" type="submit" color="primary" mat-flat-button id="completeSignUp" (click)="createAccount()">Sign up</button>
      </div>
      <div class="warn-color">{{CreateError}}</div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div class="d-flex flex-column" style="text-align: center" *ngIf="accountCreated">
  <div class="mat-headline mb-3">Account created</div>
  <div>Please confirm your account by following the link we send you</div>
</div>

<loading *ngIf="loading"></loading>
