<mat-card class="m-3" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<mat-tab-group color="primary" class="overflow-auto" *ngIf="event">
  <mat-tab label="Event">
    <div class="m-3">
      <mat-card class="d-flex flex-row justify-content-between">
        <button mat-flat-button color="primary" (click)="updateEvent()" id="save">Save</button>
        <div *ngIf="updateEventError">{{updateEventError}}</div>
        <mat-spinner diameter="36" *ngIf="updatingEvent"></mat-spinner>
      </mat-card>

      <mat-card class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" [formControl]="Name" placeholder="Event name" autocomplete="off">
        </mat-form-field>

        <div class="d-flex flex-row">
          <mat-form-field appearance="outline" class="w-100 mr-3">
            <mat-label>Start date</mat-label>
            <input autocomplete="off" matInput [ngxMatDatetimePicker]="startPicker" placeholder="Choose a date" [formControl]="StartLocal" [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startPicker [stepHour]="1" [stepMinute]="1" [stepSecond]="0"></ngx-mat-datetime-picker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>End date</mat-label>
            <input autocomplete="off" matInput [ngxMatDatetimePicker]="endPicker" placeholder="Choose a date" [formControl]="EndLocal">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endPicker [stepHour]="1" [stepMinute]="1" [stepSecond]="0"></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Description</mat-label>-->
<!--          <textarea rows="8" matInput [formControl]="Description" placeholder="Event description" autocomplete="off"></textarea>-->
<!--        </mat-form-field>-->

        <div class="d-flex flex-row">
          <mat-form-field appearance="outline" id="description">
            <mat-label>Description</mat-label>
            <textarea matInput mat-autosize cdkTextareaAutosize cdkAutosizeMinRows="20" [formControl]="Description" placeholder="Event description" autocomplete="off"></textarea>
          </mat-form-field>
          <markdown [data]="Description.value" ngPreserveWhitespaces></markdown>
        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tumbnail
              </mat-panel-title>
            </mat-expansion-panel-header>
            <thumbnail-edit [thumbnail]="event.Thumbnail" (thumbnailEvent)="event.Thumbnail = $event"></thumbnail-edit>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Categories
              </mat-panel-title>
            </mat-expansion-panel-header>
            <category-list [categories]="categoryStore" [selectedCategories]="event.Categories" (categoryEvent)="categories = $event"></category-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="addressForm">
              <mat-checkbox id="isOnline" [formControl]="IsOnline" (click)="clickedOnline()">Online?</mat-checkbox>

              <div class="d-flex flex-column">
                <mat-form-field appearance="outline">
                  <mat-label>Address line 1</mat-label>
                  <input matInput type="text" formControlName="AddressLine1" placeholder="21 Main Street">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Address line 2</mat-label>
                  <input matInput type="text" formControlName="AddressLine2" placeholder="Apt 1">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput type="text" formControlName="City" placeholder="London">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Postcode</mat-label>
                  <input matInput type="text" formControlName="PostalCode" placeholder="AA1 1AA">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Country</mat-label>
                  <input matInput type="text" disabled [value]="addressForm.controls.CountryName.value">
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price & Tickets
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-row">
              <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Price (£)</mat-label>
                <input autocomplete="off" matInput type="number" min="0" step="0.01" [value]="event.Price" disabled placeholder="00.00">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tickets</mat-label>
                <input autocomplete="off" matInput type="number" min="0" step="1" [value]="event.TicketsLeft" disabled placeholder="1">
              </mat-form-field>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card>

      <mat-card>
        <image-list [images]="event.Images" (imageEvent)="event.Images = $event"></image-list>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Site URL</mat-label>
            <input matInput [formControl]="Site" placeholder="https://www.custom.co.uk" autocomplete="off">
            <mat-icon matSuffix svgIcon="site"></mat-icon>
          </mat-form-field>

          <div class="d-flex flex-row">
            <div class="d-flex flex-column w-100 mr-3">
              <mat-form-field appearance="outline">
                <mat-label>Instagram</mat-label>
                <input matInput [formControl]="Instagram" placeholder="username" class="w-100" autocomplete="off">
                <mat-icon matSuffix svgIcon="instagram"></mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Twitter</mat-label>
                <input matInput [formControl]="Twitter" placeholder="@username" class="w-100" autocomplete="off">
                <mat-icon matSuffix svgIcon="twitter"></mat-icon>
              </mat-form-field>
            </div>
            <div class="d-flex flex-column w-100">
              <mat-form-field appearance="outline">
                <mat-label>Facebook</mat-label>
                <input matInput [formControl]="Facebook" placeholder="username" class="w-100" autocomplete="off">
                <mat-icon matSuffix svgIcon="facebook"></mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Reddit</mat-label>
                <input matInput [formControl]="Reddit" placeholder="username" class="w-100" autocomplete="off">
                <mat-icon matSuffix svgIcon="reddit"></mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Promos">
    <promos [Event]="event"></promos>
  </mat-tab>

  <mat-tab label="Transactions" *ngIf="event.Transactions">
    <mat-card class="m-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>receipt_long</mat-icon>
        <mat-card-title>Transactions</mat-card-title>
        <mat-card-subtitle>All transactions associated to this event</mat-card-subtitle>
      </mat-card-header>

      <table mat-table [dataSource]="event.Transactions" class="mat-elevation-z2">

        <ng-container matColumnDef="stripeId">
          <th mat-header-cell *matHeaderCellDef> Stripe Id</th>
          <td mat-cell *matCellDef="let element"> {{element.StripeIntentId | slice:0:10}}...</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element">
            {{element.Status}}
          </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Started</th>
          <td mat-cell *matCellDef="let element"> {{element.Start | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> Ended</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.End != defaultDate">{{element.End | date:'short'}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element">
            <span class="d-flex flex-row align-items-center">
            {{element.Amount / 100 | currency:'GBP':true:'1.2-2'}}
              <mat-icon class="m-auto" *ngIf="element.PromoId != '00000000-0000-0000-0000-000000000000'">price_change</mat-icon>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef> Paid</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.Paid" class="successIcon">check_circle</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
<!--            <button mat-icon-button *ngIf="element.Status != 'succeeded'" (click)="cancel(element)">-->
<!--              <mat-icon>delete_forever</mat-icon>-->
<!--            </button>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="transactionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: transactionColumns;"></tr>
      </table>

    </mat-card>
  </mat-tab>

  <mat-tab label="Analytics" *ngIf="analytics">
    <mat-card class="m-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>analytics</mat-icon>
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-subtitle>Statistic counters for your event</mat-card-subtitle>
      </mat-card-header>

      <div>Total page views: {{analytics?.PageViewEvents.length}}</div>
      <div>Average page views a day:</div>
      <div>Tickets sold: {{event?.Tickets.length - event.TicketsLeft}}</div>
      <div>Tickets left: {{event?.TicketsLeft}}</div>

      <div id="ticketPercentage"><div id="ticketsLeftPercentage" [style.width]="(event.TicketsLeft / event.Tickets.length)*100 + '%'"></div><div id="ticketsSoldPercentage"></div></div>

      <div id="categoryAverageScores">

      </div>

    </mat-card>

    <mat-card class="m-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>trending_up</mat-icon>
        <mat-card-title>Trends</mat-card-title>
        <mat-card-subtitle>Cool graphs</mat-card-subtitle>
      </mat-card-header>
      <ticket-sales [Event]="event" [Analytics]="analytics"></ticket-sales>
    </mat-card>

    <mat-card class="m-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>people</mat-icon>
        <mat-card-title>Demographic</mat-card-title>
        <mat-card-subtitle>Analytics based demographic of your event</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="Raw Data" *ngIf="analytics">
    <mat-card class="m-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>analytics</mat-icon>
        <mat-card-title>All data we have on this event</mat-card-title>
        <mat-card-subtitle>This is all the data that we have collected on your event</mat-card-subtitle>
      </mat-card-header>

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>pageview</mat-icon>
          <mat-card-title>Page views</mat-card-title>
          <mat-card-subtitle>All the times a user visited your event page</mat-card-subtitle>
        </mat-card-header>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let date of analytics?.PageViewEvents">
            <mat-expansion-panel-header>
              <mat-panel-title>{{date.Date | date: 'fullDate'}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let pageView of date.PageViews">At <span class="font-italic font-weight-bold">{{pageView.Created | date: 'fullTime'}} </span></div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>verified</mat-icon>
          <mat-card-title>Ticket Verifications</mat-card-title>
          <mat-card-subtitle>All the times you've verified a ticket</mat-card-subtitle>
        </mat-card-header>
        <div *ngFor="let verify of analytics?.TicketVerificationEvents">At <span class="font-italic font-weight-bold">{{verify.Created | date: 'full'}}</span> <span class="font-italic font-weight-bold">{{verify.TicketId}}</span> was verified</div>
      </mat-card>
    </mat-card>
  </mat-tab>
</mat-tab-group>
