#searchInput {
  width: 100%;
}

#searchResults event-preview {
  margin: 1rem;
}

mat-chip {
  cursor: pointer;
}

#controls mat-card {
  margin: 1rem;
}

#searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

:host {
  overflow: auto;
}
