<div class="position-relative">
  <div id="promoBanner" *ngIf="Promo"><div id="promoBannerText">{{Promo.Discount}}%</div>
  </div>
  <button mat-mini-fab (click)="downVote()" class="mat-elevation-z2" id="downVoteButton" *ngIf="event && showDownVote" aria-label="down-vote event">
    <mat-icon>thumb_down</mat-icon>
  </button>
  <mat-card (click)="navigateToEvent()" *ngIf="event" id="event">
    <img mat-card-image [src]="event.Thumbnail?.Source" [alt]="event.Thumbnail ? event.Thumbnail.Label : 'Cannot load thumbnail'">
    <mat-card-content>
      <div class="mat-caption accent-color">{{event.StartLocal | date:'short'}}</div>
      <div class="mat-title">{{event.Name}}</div>
    </mat-card-content>
  </mat-card>
</div>
