<user-nav></user-nav>

<mat-card *ngIf="getTicketError || loading" class="m-3">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="mat-warn">{{getTicketError}}</div>
</mat-card>

<div id="ticket" *ngIf="Ticket && !getTicketError && !loading" class="m-3">
  <mat-card>
    <div class="mat-headline mb-1">Ticket for "{{Ticket.Event?.Name}}"</div>
    <div class="m-auto">Starts at <span class="font-weight-bold">{{Ticket.Event.StartLocal | date:'medium'}}</span> and finishes <span class="font-weight-bold">{{Ticket.Event.EndLocal | date:'medium'}}</span></div>
  </mat-card>

  <mat-card><img class="img-fluid" [src]="Ticket.QRCode"></mat-card>

  <mat-card class="d-flex flex-row justify-content-between align-items-center">
    <button mat-flat-button color="accent" (click)="openReceipt()">Receipt</button>
    <div>Id: {{Ticket.Id}}</div>
  </mat-card>
</div>
