#popularEvents {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 1px;
  padding-top: 11px;
}

#popularEvents > event-preview {
  max-width: 300px;
}

:host {
  height: 100%;
}

