<mat-card class="m-3" *ngIf="Loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<div class="d-flex flex-column h-100" *ngIf="PopularEvents && PopularCategories && !Loading">
  <div class="d-flex flex-column m-3 flex-grow-1">
    <div id="featured" *ngIf="FeaturedEvent">
      <img [src]="FeaturedEvent?.Thumbnail?.Source"/>
      <div id="imageShadow" (click)="navigateToFeatured()"></div>
      <mat-card id="featuredName" (click)="navigateToFeatured()">
        <div class="mat-caption accent-color">{{FeaturedEvent?.StartLocal | date:'short'}}</div>
        <div class="mat-title">{{FeaturedEvent?.Name}}</div>
      </mat-card>
    </div>

    <popular-events [PopularEvents]="PopularEvents"></popular-events>

    <popular-categories [PopularCategories]="PopularCategories"></popular-categories>

  </div>
</div>
