#eventListAndPreview {
  height: 100%;
  /*min-height: 50vh;*/
  /*max-height: 50vh;*/
}

:host {
  height: 100%;
}

#eventPreview {
  height: 100%;
  /*min-height: 50vh;*/
  /*max-height: 50vh;*/
  margin-bottom: 1rem;
}

#eventReport {
  height: 100%;
  margin: 1rem;
  overflow: auto;
}

#eventFinished {
  height: inherit;
  text-align: center;
}

#analyticsArea {
  background-color: lightgrey;
  flex: 1;
  margin: 1rem;
}

.dashboard-lg {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#eventAnalytics {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#eventAnalytics > mat-card {
  margin: 1rem;
  flex: 1;
}

#eventTabs {
  height: 100%;
}
