<div ngClass.gt-lg="dashboard-lg" class="dashboard">
  <mat-tab-group id="eventTabs">
    <mat-tab label="Events">
      <mat-drawer-container id="eventListAndPreview">
        <mat-drawer #eventList mode="side" opened>
          <div mat-subheader>Events</div>
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngIf="!Events || Events.length < 1">You have no events!</mat-list-option>
            <mat-list-option *ngFor="let event of Events" (click)="togglePreview(event)" [selected]="event == eventPreview" [disableRipple]="true">
              <img *ngIf="event.Thumbnail" [src]="event.Thumbnail.Source" mat-list-avatar>
              <div mat-line>{{event.Name}}</div>
              <div mat-line *ngIf="event.Finished">Event Finished</div>
              <div mat-line *ngIf="hasEnded(event) && !event.Finished">Event Ended</div>
              <div mat-line *ngIf="!event.Finished && !hasEnded(event)">{{event.StartLocal | date: 'medium'}}</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-drawer>

        <mat-card class="m-3" *ngIf="loading" [@inOutAnimation]>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card>

        <div id="eventPreview" *ngIf="Events && !eventPreview?.Finished && !hasEnded(eventPreview)" [@inOutAnimation]>
          <mat-toolbar>
            <button mat-icon-button (click)="eventList.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-button (click)="navigateToVerify()">
              <mat-icon inline="true">confirmation_number</mat-icon>
              Verify Tickets
            </button>
            <button mat-button color="warn" (click)="cancelEvent(eventPreview.Id)">
              <mat-icon inline="true">cancel</mat-icon>
              Cancel
            </button>
            <button mat-button (click)="navigateToConfig()">
              <mat-icon inline="true">settings</mat-icon>
              Settings
            </button>
          </mat-toolbar>

          <mat-card class="m-3">
            <event *ngIf="eventPreview" [EventPreview]="eventPreview" [@inOutAnimation]></event>
          </mat-card>
        </div>

        <div id="eventFinished" *ngIf="Events && hasEnded(eventPreview) && !eventPreview?.Finished">
          <div class="mat-headline">This event has ended</div>
          <div><button mat-flat-button color="accent" (click)="finishEvent()">Finish & Show Report</button></div>
        </div>

        <div id="eventReport" *ngIf="Events && eventPreview?.Finished" [@inOutAnimation]>
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>inventory</mat-icon>
              <mat-card-title>Report</mat-card-title>
              <mat-card-subtitle>Report of the finished event</mat-card-subtitle>
            </mat-card-header>

            <div>Total page views: {{finishedEventAnalytics?.PageViewEvents.length}}</div>
            <div>Tickets sold: {{eventPreview?.Tickets.length - eventPreview.TicketsLeft}}</div>
            <div>Tickets left: {{eventPreview?.TicketsLeft}}</div>

            <ticket-sales [Event]="eventPreview" [Analytics]="finishedEventAnalytics" *ngIf="finishedEventAnalytics" class="mb-3"></ticket-sales>

            <demographic [Analytics]="finishedEventAnalytics" *ngIf="finishedEventAnalytics"></demographic>

          </mat-card>
        </div>

      </mat-drawer-container>
    </mat-tab>

    <mat-tab label="Analytics">
      <div id="eventAnalytics">
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
