<user-nav></user-nav>

<mat-drawer-container id="eventListAndPreview">
  <mat-drawer #eventList mode="side" opened>
    <div mat-subheader>Events</div>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngIf="!Events || Events.length < 1">You have no events!</mat-list-option>
      <mat-list-option *ngFor="let event of Events" (click)="togglePreview(event)" [disableRipple]="true">
        <img *ngIf="event.Thumbnail" [src]="event.Thumbnail.Source" mat-list-avatar>
        <div mat-line>{{event.Name}}</div>
        <div mat-line>{{event.StartLocal | date: 'medium'}}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-card class="m-3" *ngIf="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></mat-card>

  <div id="eventPreview" *ngIf="Events">
    <mat-toolbar>
      <button mat-icon-button (click)="eventList.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button color="warn" (click)="cancelEvent(eventPreview.Id)">
        <mat-icon inline="true">cancel</mat-icon>
        Cancel
      </button>
      <button mat-button (click)="navigateToConfig()">
        <mat-icon inline="true">settings</mat-icon>
        Settings
      </button>
    </mat-toolbar>

    <mat-card class="m-3">
      <event *ngIf="eventPreview" [EventPreview]="eventPreview"></event>
    </mat-card>
  </div>

</mat-drawer-container>

<mat-card id="analyticsArea">
  <div>Analytics Area</div>
</mat-card>

