<user-nav *ngIf="!EventPreview"></user-nav>

<mat-card class="m-3" *ngIf="!Event">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<div class="container" *ngIf="Event">
  <div id="eventHeader" ngClass.lt-sm="flex-column">
    <div class="mr-3 flex-grow-1">
      <div style="width: 80%; height: 80%;">
        <div fittext>{{Event.Name}}</div>
      </div>
    </div>
  </div>

  <gallery id="imageGallery" *ngIf="eventImages" [items]="eventImages" [thumb]="false" imageSize="cover" loadingStrategy="lazy"></gallery>
  <div id="eventInfo">
    <div class="d-flex flex-row" ngClass.lt-sm="flex-column">
    <mat-card class="flex-grow-1 mr-3">
      <div>Starts at <span class="dateTime">{{Event.StartLocal | date:'medium'}}</span> and finishes <span class="dateTime">{{Event.EndLocal | date:'medium'}}</span></div>
    </mat-card>

    <mat-card id="ticketsAndPrice">
      <div class="mr-3">{{Event.TicketsLeft}} ticket(s) left!</div>
      <button mat-flat-button color="accent" [disabled]="Event.TicketsLeft == 0" (click)="purchase()">{{Event.Price / 100 |currency:'GBP'}}</button>
    </mat-card>
    </div>
    <div class="d-flex flex-row">

      <div class="d-flex flex-column w-100">
        <mat-card class="mr-3" *ngIf="Event.Categories?.length > 0">
          <mat-chip-list>
            <mat-chip *ngFor="let category of Event.Categories">{{category.Name}}</mat-chip>
          </mat-chip-list>
        </mat-card>

        <mat-card id="info">
          <div>{{Event.Description}}</div>
        </mat-card>
      </div>

      <div>
        <mat-card id="location">
          <mat-card-header>
            <mat-icon mat-card-avatar>place</mat-icon>
            <mat-card-title>Location</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="Event.IsOnline">Online event</div>
            <div *ngIf="!Event.IsOnline">
              <div id="address">
                <div>{{Event.Address.AddressLine1}}</div>
                <div>{{Event.Address.AddressLine2}}</div>
                <div>{{Event.Address.City}}</div>
                <div>{{Event.Address.CountryName}}</div>
                <div>{{Event.Address.PostalCode.toUpperCase()}}</div>
              </div>
              <div id="map" *ngIf="mapLink">
                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe width="300" height="250" id="gmap_canvas" [src]="mapLink | safe:'resourceUrl'" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="Event.SocialLinks?.length > 0">
          <div id="socialIcons">
            <div class="mx-auto" *ngFor="let socialMedia of Event.SocialLinks">
              <social *ngIf="socialMedia.Link" [socialLink]="socialMedia"></social>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
