<mat-progress-bar mode="indeterminate" *ngIf="loadingData" id="loadingBar"></mat-progress-bar>
<div class="mat-warn">{{createIntentError}}</div>
<div *ngIf="Event && !loadingData && !createIntentError">
  <div class="mat-dialog-title">
    <mat-icon>book_online</mat-icon>
    Purchase Ticket
  </div>

  <mat-horizontal-stepper [linear]="true">
    <mat-step [completed]="false" fxLayout="column" label="Payment Method">

      <div class="d-flex flex-column w-100">
        <mat-form-field appearance="outline">
          <mat-label>Cards</mat-label>
          <mat-select required [(value)]="currentCard" (selectionChange)="currentCard = $event.value">
            <mat-option *ngFor="let card of UsersCards" [value]="card">{{card.NickName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <virtual-card [ShowActions]="false" *ngIf="currentCard" [Card]="currentCard"></virtual-card>

        <button mat-flat-button color="accent" [disabled]="loading" (click)="inject()">Use this card</button>

        <mat-error>{{injectPaymentMethodError}}</mat-error>
      </div>
    </mat-step>
    <mat-step fxLayout="column" label="Confirm">

      <div class="d-flex flex-column w-100">
        <div class="mb-3">
          <div class="d-flex flex-row justify-content-between">
            <div>1 * {{Event.Name}} ticket(s)</div>
            <div>{{Transaction?.Amount / 100 | currency:'GBP'}}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="d-flex flex-row justify-content-between">
            <div>Service fee (10%)</div>
            <div>£{{(Transaction?.Amount * 0.1) / 100}}</div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div>What the event gets</div>
            <div>{{(Transaction?.Amount / 100) * 0.9 | currency: 'GBP':true:'1.2-2'}}</div>
          </div>
        </div>

        <button mat-flat-button color="accent" [disabled]="loading" (click)="confirm()">Confirm</button>

        <mat-error>{{confirmIntentError}}</mat-error>
      </div>
    </mat-step>
    <mat-step [editable]="false" fxLayout="column" label="Result">
      <div class="d-flex flex-column w-100">
        <div *ngIf="ticketPurchased">
          <div class="mat-title">Ticket Purchased</div>
          <div class="mat-caption">You will recive an email confirmaion in a bit</div>
          <mat-dialog-actions>
            <button matDialogClose="close" mat-flat-button color="primary">Close</button>
          </mat-dialog-actions>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
