<mat-card class="m-3 flex-grow-1 overflow-auto" *ngIf="!loading">
  <div class="overlay" [@inOutAnimation] *ngIf="!UserHasBank">
    <mat-card class="m-auto">
      <div class="mat-headline warn-color">You need to add a bank account!</div>
    </mat-card>
  </div>
  <mat-card-header>
    <mat-icon mat-card-avatar>event</mat-icon>
    <mat-card-title>Create Event</mat-card-title>
    <mat-card-subtitle>Fill in all the information and preview your event</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="false" (selectionChange)="loadEventData($event)">
      <mat-step [stepControl]="createEventForm" [editable]="isEditable" label="Basic info">
        <form [formGroup]="createEventForm" id="createEventForm">

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="Name" placeholder="Event name" autocomplete="off">
          </mat-form-field>

          <div class="d-flex flex-row">
            <mat-form-field appearance="outline" class="w-100 mr-3">
              <mat-label>Start date</mat-label>
              <input autocomplete="off" matInput [ngxMatDatetimePicker]="startPicker" placeholder="Choose a date" [formControl]="DateForm.controls.StartLocal" [min]="minDate">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #startPicker [stepHour]="1" [stepMinute]="1" [defaultTime]="defaultTime" [stepSecond]="0"></ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>End date</mat-label>
              <input autocomplete="off" matInput [ngxMatDatetimePicker]="endPicker" placeholder="Choose a date" [formControl]="DateForm.controls.EndLocal" [min]="DateForm.controls.StartLocal.value">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #endPicker [stepHour]="1" [stepMinute]="1" [defaultTime]="defaultTime" [stepSecond]="0"></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>

          <div class="d-flex flex-row">
            <mat-form-field appearance="outline" id="description">
              <mat-label>Description</mat-label>
              <textarea matInput mat-autosize cdkTextareaAutosize cdkAutosizeMinRows="20" formControlName="Description" placeholder="Event description" autocomplete="off"></textarea>
            </mat-form-field>
            <markdown [data]="createEventForm.controls.Description.value" ngPreserveWhitespaces></markdown>
          </div>

          <mat-card class="mb-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>local_offer</mat-icon>
              <mat-card-title>Tickets & Price</mat-card-title>
              <mat-card-subtitle>Set the price and number of tickets</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="d-flex flex-row">
              <div class="d-flex flex-column mr-3 flex-grow-1">
                <mat-form-field appearance="outline">
                  <mat-label>Price (£)</mat-label>
                  <input autocomplete="off" matInput type="number" min="0" step="0.01" formControlName="Price" placeholder="00.00">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Tickets</mat-label>
                  <input autocomplete="off" matInput type="number" min="0" step="1" formControlName="NumberOfTickets" placeholder="1">
                </mat-form-field>
              </div>

              <div id="FeedBreakdown">
                <div class="mat-title d-flex align-items-center">
                  <mat-icon class="mr-1">euro</mat-icon>
                  Breakdown
                </div>
                <div class="d-flex flex-row">
                  <div>Ticket price</div>
                  <div class="dottedLine"></div>
                  <div>{{createEventForm.controls.Price.value | currency:'GBP':'symbol':'1.2-2'}}</div>
                </div>
                <div class="d-flex flex-row">
                  <div>Service fee (10%)</div>
                  <div class="dottedLine"></div>
                  <div>{{createEventForm.controls.Price.value * 0.1 | currency:'GBP':'symbol':'1.2-2'}}</div>
                </div>
                <div class="d-flex flex-row">
                  <div>What you get</div>
                  <div class="dottedLine"></div>
                  <div>{{createEventForm.controls.Price.value * 0.9 | currency: 'GBP':'symbol':'1.2-2'}}</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="mb-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>category</mat-icon>
              <mat-card-title>Categories</mat-card-title>
              <mat-card-subtitle>Please select at least one category</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <category-list [categories]="categoryStore" [inset]="true" formControlName="Categories"></category-list>
            </mat-card-content>
            <mat-card-footer>
              <mat-error *ngIf="createEventForm.controls.Categories.invalid && createEventForm.controls.Categories.dirty">You must select at least one category</mat-error>
            </mat-card-footer>
          </mat-card>

          <div class="d-flex ml-auto">
            <button mat-button matStepperNext [disabled]="createEventForm.invalid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="addressForm" [editable]="isEditable" label="Address">
        <div class="d-flex flex-column w-100">
          <mat-card class="w-100 mb-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>home</mat-icon>
              <mat-card-title>Address</mat-card-title>
              <mat-card-subtitle>Does your event have an address or is it online</mat-card-subtitle>
            </mat-card-header>
            <div class="d-flex flex-column w-100">
              <mat-checkbox id="isOnline" [formControl]="IsOnline" (click)="clickedOnline()">Online?</mat-checkbox>
              <address-form [formControl]="addressForm"></address-form>
            </div>
          </mat-card>

          <div class="d-flex ml-auto">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="addressForm.invalid">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="ImagesAndSocialsForm" [editable]="isEditable" label="Images & Social">
        <div class="d-flex flex-column w-100">
          <form [formGroup]="ImagesAndSocialsForm">

            <mat-card class="mb-3">
              <mat-card-header>
                <mat-icon mat-card-avatar>insert_photo</mat-icon>
                <mat-card-title>Thumbnail</mat-card-title>
                <mat-card-subtitle>Upload a thumbnail for your event to catch user's eyes</mat-card-subtitle>
              </mat-card-header>
              <thumbnail-edit formControlName="thumbnail"></thumbnail-edit>
              <div class="warn-color" *ngIf="ImagesAndSocialsForm.controls.thumbnail.hasError('required')">A thumbnail is required</div>
            </mat-card>

            <mat-card class="mb-3">
              <mat-card-header>
                <mat-icon mat-card-avatar>collections</mat-icon>
                <mat-card-title>Gallery</mat-card-title>
                <mat-card-subtitle>Upload images to be shown in the event's image gallery</mat-card-subtitle>
              </mat-card-header>
              <image-list formControlName="images"></image-list>
            </mat-card>

            <mat-card class="mb-3">
              <mat-card-header>
                <mat-icon mat-card-avatar>collections</mat-icon>
                <mat-card-title>Social links</mat-card-title>
                <mat-card-subtitle>Add social links so users can find out more about you</mat-card-subtitle>
              </mat-card-header>
              <social-links-form formControlName="socialLinks"></social-links-form>
            </mat-card>
          </form>

          <div class="d-flex ml-auto">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="ImagesAndSocialsForm.invalid">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Confirm">
        <div class="d-flex flex-column w-100">
          <mat-card class="w-100 mb-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>preview</mat-icon>
              <mat-card-title>Preview</mat-card-title>
              <mat-card-subtitle>This is how the public will see your event</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="d-flex flex-column">

              <button class="ml-auto" type="submit" mat-flat-button color="primary" (click)="create()" [disabled]="createEventForm.invalid || addressForm.invalid || ImagesAndSocialsForm.invalid">Create event</button>

              <event *ngIf="eventPreview" [EventPreview]="eventPreview" [@inOutAnimation]></event>
            </mat-card-content>
          </mat-card>

          <div class="d-flex ml-auto">
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
<loading *ngIf="loading" [@inOutAnimation]></loading>
