<user-nav></user-nav>

<mat-tab-group color="primary" #tabGroup (selectedIndexChange)="changeTab($event)">
  <mat-tab label="Account">
    <account-preferences *ngIf="userLoaded"></account-preferences>
  </mat-tab>
  <mat-tab label="Payment Methods">
    <payment-methods *ngIf="currentTab == 1"></payment-methods>
  </mat-tab>
  <mat-tab label="Bank Account">
    <bank-account *ngIf="currentTab == 2"></bank-account>
  </mat-tab>
  <mat-tab label="Transactions"></mat-tab>
  <mat-tab label="User Data">
    <user-data *ngIf="currentTab == 4"></user-data>
  </mat-tab>
</mat-tab-group>

<mat-card class="m-3" *ngIf="!userLoaded">
  <mat-progress-bar mode="indeterminate" *ngIf="!userLoaded"></mat-progress-bar>
  {{getUserError}}
</mat-card>
