<header>
  <mat-toolbar color="primary">

    <div class="navControls">
      <button mat-icon-button (click)="back()" class="mr-2" fxHide.lt-sm  name="back" aria-label="back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-flat-button color="accent" [routerLink]="['/search']" [routerLinkActive]="['/search']">Search</button>
    </div>

    <a mat-button id="title" (click)="routeHome()">Open Event</a>

    <div class="navControls justify-content-end">
      <button id="login" mat-button class="mr-1" [routerLink]="['/login']" [routerLinkActive]="['activeLink']">Login / Sign up</button>
    </div>

  </mat-toolbar>
</header>
