<div class="main">

  <div id="login">
    <div class="display-3 mx-auto m-5">Login / Sign up</div>

    <form class="d-flex justify-content-between flex-column" [formGroup]="loginFormGroup" (ngSubmit)="login()">

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" id="email" placeholder="joe@blogs.co.uk">
        <mat-error *ngIf="email.hasError('email')" id="emailError">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password" placeholder="Password123" >
        <mat-hint><a (click)="openForgotDialog()" class="forgotLink">Forgotten password?</a></mat-hint>
      </mat-form-field>

<!--      <a class="mat-caption">Forgotten password?</a>-->

      <mat-checkbox formControlName="remember" class="ml-3">Remember me</mat-checkbox>

      <div id="loginButtons">
        <button (click)="create()" type="button" mat-stroked-button>Sign up</button>
        <button type="submit" color="accent" cdkFocusInitial mat-stroked-button [disabled]="!loginFormGroup.valid">Login</button>
      </div>

      <mat-error id="loginError">{{loginError}}</mat-error>
    </form>

    <loading *ngIf="loading"></loading>

  </div>
</div>
